
<div class="shadow p-3 mb-5 bg-white rounded">
  <div class="px-5">
    <h1><%= @post.title %></h1>
    <p class="text-muted">
      <strong>Por <%= @post.author %></strong><br>
      <%= l @post.created_at, format: :long %>
    </p>

  </div>
  
  <div class="px-5">
    <%= @post.body.gsub("\n","<br>").html_safe %>
  </div>
  
</div>

<div class="m-5">
  <div class="text-center">
    <h4>
      <%= pluralize( @post.comments.count, 'Comentário' ) %>

      <% if @post.comments.count.zero? %>
        <span class="badge badge-success">Seja o primeiro a comentar!</span>
      <% end %>
    </h4>

  </div>

  <div class="shadow-sm m-3 p-3 db-light rounded">
    <%= form_with model: @comment, local: true do |form| %>
      <!-- campo id escondido --> 
      <%= form.hidden_field :post_id, value: @post.id %>

      <div class="form-group">
        <%= form.label :author %>
        <%= form.text_field :author, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, class: 'form-control', rows: 2 %>
      </div>

      <%= form.submit 'Enviar', class: 'btn btn-primary', data: {disable_with: 'Enviando...'} %>

    <% end %>
  </div>

  <% @comments.each do |item| %>
    <div class="shadow-sm m-3 p-3 db-light rounded">
      <div class="row">
        <div class="col">
          <%= item.body %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <strong>Por <%= item.author %></strong><br>
        </div>

        <div class="col text-right">
          <p class="text-muted">
            <em data-toggle="tooltip" 
              data-placement="top" 
              title="<%= l @post.created_at, format: :long %>"
            >
              <%= time_ago_in_words item.created_at %> atrás
            </em>
          </p>
        </div>
      </div>

      <hr>
      <!--sanitize serve para segurança em texto malicioso -->
      <%= sanitize(item.body.gsub("\n","<br>")).html_safe %>
      
    </div>
  <% end %>

</div>