<!DOCTYPE html>
<html>
  <head>
    <title>Blog do Will</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class='bg-primary text-white text-center mb-4 p-4'>
      <%= link_to root_path, class: 'text-white' do %>
        <h1 class="display-5">Blog do Will</h1>
      <% end %>

      <p class="lead">
        Olá, aqui você vai encontrar artigos sobre programação, tecnologia e carreira.
      </p>
    </header>

    <main class="container">
      <% flash.each do |type, message| %>

        <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
      <% end %>

      <%= yield %>
    </main>

    <footer class="bg-primary text-white text-center mt-5 p-4">
      Copyrigth © Wilson Reis <%= Date.current.year %>
    </footer>
  </body>
</html>
